// HEADER

nav ul li a {
    color: black;
    padding: 10px;
    font-weight: bold;
    line-height: 80px;
  }
  
  header {
    height: 100px;
  }
  
  .logo {
    max-height: 80px;
    margin-bottom: 20px;
  }
  
  header img,
  header nav {
    margin-top: 10px;
  }

  